html {
  height: 100%;
}
body{
  background: #d7cbc1;
}

h6{
  color: #B6A192;

}
a:hover {
  text-decoration: none;
}
h2
{
  font-size: 30px;
  color: white;
  padding-top: 27px
}


.btn2{
  padding-top: 20px;
  padding-left: 20px; 
}


.top-nav {
  width:100%;
 
  background: rgb(164, 86, 86);
  height: 6.2rem;
  z-index: 0;
  position: absolute;
  top: 0  ;
  right: 0;

}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  padding-right: 1rem;
  padding-top: 6px;
  
}

.link-logout {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  
  text-decoration: none;
  /* identical to box height */
  color: pink;
}


.main-content {
  margin-left: 265px;
  padding: 0px 10px;
  margin-top: 6rem;
}

.form-control{
  margin-left: 9rem;
  width: 30%

}

.form-group{
  margin-left: 0px;
}


.custom-form {
  color: #B6A192;
  display: block;
  width: 24rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;





}

.modal-header{
  background-color:#C36F6F;

}
.modal-body{
  background-color: #B0A8A2;
}
.modal-footer{
  background-color:  #B0A8A2;
}


.invert {
  transform: scaleX(-1);
}

.custom-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 3px;
  text-align: center;
  margin-right: 3.5px;
}
.btn-primary{
  background-color: #ffe6ee;
  color: black;
  border:  #ffe6ee;
  margin-bottom: 3px;

}


.btn-primary{border-radius: 30px;}  
}

.btn-secondary{
  background-color: #ffccdc;
  color: black;
}

.btn-danger{
  background-color: #ffccdc;
  color: black;

}
.btn-danger{border-radius: 30px;}  
}

th {
 font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  text-align: center;

}
.btn5{
  background-color: #F0E3E3;
  color: black;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}

td {
  font-family: 'Open Sans', sans-serifele
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  text-align: center;
  line-height: 2.5rem;
  padding-bottom: 10px;


}

.table-responsive{
  background-color: #ffff;
}


.side-nav {
  height: 85%;
  width: 270px;
  position: fixed;
  z-index: 2;
  top: 1;
  bottom: 0;
  background-color: #b97979;
  overflow-x: hidden;
 
  transition: all 400ms;
}

.logo-name {
font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  font-weight: 100;
  color: #FFFFFF;
}

.side-nav .logo-name:hover {
  cursor: default;
}




}

.side-nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  color: #ffdede;
  display: block;

}

.side-nav .option:hover {
  color: #a5b3a8;
  transition: all 250ms;
}

.option {
 font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;

  color: #FFFFFF;
}



.element-container {
  width: 100%;
  height: 60px;
  position: relative;
}

.element {
  position: absolute;
  margin-top: 3px
}

.active-link {
  position: relative;
  height: 55px;
  background-color: rgb(88, 83, 83);
}



@media only screen and (max-width: 768px) {
  html {
    font-size: .9rem;
  }

  .side-nav {
    width: 90px;
  }

  .main-content {
    margin-left: 90px;
  }

  .active {
    height: 50px;
  }


  .custom-btn {
   font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0px;
    text-align: center;
    font-display: none;
    width: 44px;
    line-height: -2.5rem;
    background-color: #ffff00;

  }
  .btn3{
    color: #ffff;
  }


  .option {
    display: none;
  }

  .logo-name {
    display: none;
  }

  .logo {
    margin-left: -15px;
  }

  .top-nav {
    width: calc(100% - 90px);
  }

  .nav-container {
    margin-left: 125px;
  }
}

