<template>
  <div id="app">
    <SideBar isActive="index"/>

    <div class="wrapper-style">
      <br>
      <br>
      <br>
      <br>


     <div class="container">
       <div class="row">
       
         <div class="column">
           <canvas id="barChart" ref="barChart"></canvas> 
         </div>
         <div class="column">
           <canvas id="pieChart"></canvas>
           </div>
            </div>
       </div>
       
    </div>

     <!--
    <div class="wrapper-style">
          <div class="containerr">
            <div class="magiciteeem container-fluid">
              <div class="row">
                <div class="dropdown1">
                   <button  onclick="myFunction()" class="dropbtn"></button>
                   <div id="myDropdown" class="dropdown-content">
                     <a href="#">Log Out</a></div>
                </div>
                </div>

              <div class="row">
                <div class="column">
                    <canvas id="barChart" ref="barChart"></canvas> 

                </div>
                <div class="column">
                    <canvas id="pieChart"></canvas>
                </div>
              </div>
            </div>
          </div>
      </div> -->
      
    <!-- <div id="content" class="p-4 p-md-5 pt-5">
      <div class="wrapper">
        <div class="containerr">
           <div class="magiciteeem container-fluid">
             <div class="row">
               <div class="dropdown1">
                  <button  onclick="myFunction()" class="dropbtn"></button>
                  <div id="myDropdown" class="dropdown-content">
                     <a href="#">Log Out</a>
                  </div>
               </div>
             </div>

             <div class="row">
              <div class="column">
                <canvas id="barChart" ref="barChart"></canvas>    
              </div>
              <div class="column">
                <canvas id="pieChart"></canvas>
              </div>  
           </div>
        </div>
      </div>
    </div>
    </div>
    -->
  </div>
</template>

<script>
import SideBar from "../../navigation/SideBar";

import Chart from 'chart.js';
export default {
  components: {
     SideBar
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['January', 'February', 'March', 'April',],
          datasets: [
            {
              label: "Science Books",
              data: [7, 10, 9, 12],
              backgroundColor: "rgb(255, 205,86)",
            },
            {
              label: "History",
              data: [7, 10, 9, 12],
              backgroundColor: "rgb(255, 128, 0)",
            },
            {
              label: "Politics",
              data: [4, 7, 10, 11],
              backgroundColor: "rgb(255, 99, 132)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [10, 20, 30],
              backgroundColor: [
                "rgb(255, 205,86)",
                "rgb(255, 128, 0)",
                "rgb(255, 99, 132)",
               
              ],
            },
          ],

          labels: [
					'Yellow',
					'0range',
					'Pink',
					
				
				],
        },
        
      });
    });
  },
  
};
 
</script>

<style>
</style>