<template>
  <div class="sidenav" id="app">
           <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">

              <div class="background-img img bg-wrap text-center py-2">
                <div class="user-logo">
                  <div class="img" style="background-image: url(../assets/images/logo2.jpg);">
                  </div>
                </div>
              </div>
              <ul class="list-unstyled components mb-5">
                <li class="active">
                  <a href="#"><span class="fa fa-home mr-3"></span> Dashboard</a>
                </li>
                <li>
                   <a href="PatronManagement.html"><span class="fa fa-gift mr-3"></span> Patron Management</a>
                  </li>
                  <li>
                    <a href="BookManagement.html"><span class="fa fa-trophy mr-3"></span> Book Management</a>
                  </li>
                  <li>
                  <a href="Settings.html"><span class="fa fa-cog mr-3"></span> Settings</a>
                  </li>
                  
                </ul>


            </nav>
           </div>




      </div>
  
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style></style>