<template>
  <div id="app">
    <SideBar isActive="settings"/>
    <NavBar />
    <div class="main"></div>
  </div>
</template>
<script>
import SideBar from "../../navigation/SideBar";


export default {
  mounted(){
    document.title = "Settings"
  },
  components: { SideBar },
  methods: {},
};
</script>

<style>

</style>