<template>
  <div id="app">
    <SideBar isActive="patron" />
    <!-- <NavBar /> -->
   <div class="wrapper-style1">
     <div class="container1">
        <div id="content" class="p-4 p-md-5 pt-5">
      <h3 class="text-center"></h3> 
      <div class="containerinside">
        <button @click='toogle = !toogle' id="btnadding" class="btn btn-dark">Add Patron</button>

        <input class="search-box" type="text" name="" placeholder="Search ....">
        <br>
        <br>
        <br>

        <div class="row">
          <div class="col-lg-12">
            <table class="table table-bordered">
              <thead class="design">
                <tr class="text-center text-dark">
                  <th> </th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Date Registered</th>
                </tr>
              </thead>

              <tbody>
                <td>
                  <a href="#" class="" data-toogle="">Edit <br> Delete</a>
                  
                    
                </td>
               <td>JULIENA SALCEDA</td>
                 <td>juliena@gmail.com</td>
                  <td>Jan 20, 2020</td>
                <tr>
                  <td>
                  <a href="#" class="" data-toogle="">Edit <br> Delete</a>
                </td>
                
               <td>Aimee Petallana</td>
                 <td>aimee@gmail.com</td>
                  <td>Feb 20, 2020</td>
                </tr>

                <tr>
                  <td>
                  <a href="#" class="" data-toogle="">Edit <br> Delete</a>
                  </td>

               <td>Marie Salazar</td>
                 <td>marie@gmail.com</td>
                  <td>Mar 20, 2020</td>
                  </tr>
              </tbody>
            </table>
            </div>
        </div>
        </div>

      </div>
      
      


       </div>
   </div>
<div v-show = 'toogle' id="overlay">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
          <h5 class="modaltitle modal-title ">New Patron</h5>
          <button @click='toogle = !toogle' id="closed" type="button" class="close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <span>First Name</span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="form-design "  type="text" name="name" >

                </div>
                <div class="form-group">
                  <span>Middle Name </span>&nbsp;
                  <input class="form-design "  type="text" name="name" >
                  </div>

                  <div class="form-group">
                  <span>Last Name </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input class="form-design "  type="text" name="name" >
                  </div>

                  <div class="form-group">
                  <span>Email Address</span>&nbsp;&nbsp;
                  <input class="form-design "  type="text" name="name" >
                  </div>   

                   <div class="form-group">
                  <button id="btnregistering" class="btn btn-dark btn-block   btn-lg">
                  Add Patron
                  </button>
                  </div>
            </form>
          </div>
       </div>
     </div>
  </div>

  
  
  </div>
</template>

<script>
import SideBar from "../../navigation/SideBar";


export default {
      el: '#app',
      data(){
         return{
           toogle:false
         }
         },






  mounted(){
    document.title = "Patron Management"
  },
  components: { 
    SideBar
    },
};
</script>

<style>

</style>